@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

// Color
:root {
    --blue-color: #31c3e0;
    --orange-color: #ff7b29;

    --text-color: #2d3134;
    --para-color: #676a6c;
    --para-color-light: #777f8b;
}

a {
    text-decoration: none;
}

// Button
.btn {
    display: flex;
    align-items: center;
    font-family: inherit;
    height: 100%;
    white-space: nowrap;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
        opacity: 0.85;
    }

    &--orange {
        padding: 24px 32px;
        border-radius: 12px;
        font-size: 1.8rem;
        color: #fff;
        background: var(--orange-color);
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.18px;
    }

    &--blue {
        padding: 16px 28px;
        border-radius: 8px;
        color: #fff;
        background: var(--blue-color);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 114.286%;
        letter-spacing: -0.14px;
    }
}

// Heading & Paragraph
.heading--primary {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 112.903%;
}

.heading--second {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 4rem;
    font-weight: 700;
    line-height: 125%;
}

.heading--third {
    color: var(--text-color);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 800;
    line-height: 133.333%;
}

.heading--fourth {
    color: var(--text-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 600;
}

.desc--primary {
    color: var(--para-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
}

.desc--second {
    color: var(--para-color-light);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

// Show / Hide / Responsive
.hide {
    display: none !important;
}

.hide-lg {
    @include abstracts.breakpoint(lg) {
        display: none !important;
    }
}

.hide-md {
    @include abstracts.breakpoint(md) {
        display: none !important;
    }
}

.show-xl {
    @include abstracts.breakpoint(xl) {
        display: block !important;
    }
}

.show-lg {
    @include abstracts.breakpoint(lg) {
        display: block !important;
    }
}

.show-md {
    @include abstracts.breakpoint(md) {
        display: block !important;
    }
}
